<launch>
    <!-- Using the simulation clock -->
    <param name="/use_sim_time" value="true"/>

    <env name="GAZEBO_PLUGIN_PATH" value="$(find me5413_world)/lib:$GAZEBO_PLUGIN_PATH"/>

    <!-- Load the project world into Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find me5413_world)/worlds/me5413_project_2526.world"/>
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
    </include>

    <!-- Add our jackal robot into the simulation -->
    <include file="$(find me5413_world)/launch/include/spawn_jackal.launch"/>


    <param name="planar_box_description" 
            command="$(find xacro)/xacro --inorder '$(find me5413_world)/launch/include/planar_box.urdf.xacro'" />
    
    <!-- comment the following out if you do not want the big red obstacle for mapping etc-->
    <node name="spawn_box" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-urdf  
                -param planar_box_description 
                -model planar_box 
                -x 6.0 -y 0.0 -z 3.5" />
    
    <!-- Load the destination configuration -->
    <rosparam command="load" file="$(find me5413_world)/config/config.yaml" />

    <!-- Make an alternative topic where the scan is filtered by height -->
    <node name="wall_scan" pkg="me5413_group9" type="wall_scan" output="screen">
        <param name="lidar_topic" value="/mid/points"/> <!-- LIDAR topic -->
        <param name="output_topic" value="/front/filtered_scan"/> <!-- Use this for AMCL -->
        <param name="min_height" value="0.8"/> <!-- Remove boxes -->
        <param name="max_height" value="2.0"/> <!-- Remove top of doorframes -->
    </node>
</launch>
